<!--header--> <%- include('header') %> <!--/header-->

  <!--sidebar--> <%- include('sidebar') %> <!--/sidebar-->

    <!--content-->
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-6">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>3</h3>

                  <p>Total Donor</p>
                </div>
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
                <a href="donor" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>2</h3>

                  <p>Total Blood Group</p>
                </div>
                <div class="icon">
                  <i class="fas fa-clinic-medical"></i>
                </div>
                <a href="bloodgroup" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>3</h3>

                  <p>Total City</p>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-city"></i>
                </div>
                <a href="/city" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>2</h3>

                  <p>Total Users</p>
                </div>
                <div class="icon">
                  <i class="nav-icon fas fa-user"></i>
                </div>
                <a href="/user" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--/content-->

    <!--footer--> <%- include('footer') %> <!--/footer-->
