<!-- Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="dashboard" class="brand-link">
    <img src="/images/site-logo.jpg" style="width:200px;">
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">Admin</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="donor" class="nav-link ">
            <i class="nav-icon fas fa-users"></i>
            <p>Donors</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="bloodgroup" class="nav-link ">
            <i class="nav-icon fas fa-clinic-medical"></i>
            <p>Blood Group</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="city" class="nav-link">
            <i class="nav-icon fas fa-city"></i>
            <p>City</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="user" class="nav-link">
            <i class="nav-icon  fas fa-user"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>Reports</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="bloodgrpreport" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Blood Group</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="setting" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>Settings</p>
          </a>
        </li>
    </nav>
  </div>
  <!-- /.sidebar -->
</aside>