<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Blood Donation</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <h2 class="m-0"><a href="index" class="site-title">Blood Donation</a></h2>
                </div>
                <div class="col-lg-8 col-sm-6 d-flex justify-content-end login-btn">
                        <div class="dropdown">
                        </div>
                        <a href="/userlogin" class="btn1 btn">Login</a>
                        <a href="/signup" class="btn1 btn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

